{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb"],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "linebreak-style": "off",
    "comma-dangle": "off",
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": "off",
    "no-unused-vars": "off",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/no-noninteractive-element-to-interactive-role": "off",
    "import/no-extraneous-dependencies": [
      "error", {
        "devDependencies": ["**/*.test.tsx", "**/*.spec.tsx"]
      }
    ],
    "import/extensions": ["error", "never"],
    "no-use-before-define": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "overrides": [
    {
      "files": ["*.tsx"],
      "parser": "@typescript-eslint/parser",
      "rules": {
        "no-undef": "off"
      }
    }
  ],
  "env": {
    "browser": true,
    "jest": true
  }
}